#Specific
archive/
standby/
figures/
data/
docs/
saved_models/
saved_predictions/
from_noah/
model_diagnostics/
zip_files/

# General
.ipynb_checkpoints/
*.ipynb_checkpoints/
__pycache__/
*.ipynb_checkpoints
*.pyc
*.pyo
checkpoints/

#Apple Stuff
.DS_Store
.DS_*
Icon

PyCharm
.idea/



